* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

#navbar {
    background: #0f9fd6;
}

.boton {
    font-size: 20px;
    transition: all 500ms;
}

