* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 86vh;
    background-color: #eef4fd;
}

.contenedor {
    display: flex;
    flex-direction: column;
    box-shadow: 8px 8px 5px 0px #bdbdbdbf;
    width: 90%;
    background-color: #ffffff;
    border-radius: 30px;
}

.table_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px 0px 15px;
    margin-bottom: 10px;
}

.table_header button {
    outline: none;
    border: none;
    background-color: #0f9fd6;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 14px;
}

.table_header button:hover {
    background-color: #108dbe;
}

.table_header #estado {
    outline: 0;
    border-color: #ffffff;
    border-bottom: 1px solid #0f9fd6;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 14px;
    width: 200px;
    cursor: pointer;
}

.table_header #estado option {
    background-color: #ffffff; 
    color: #bdbdbdbf; 
    padding: 10px 20px;
}

.table_header #estado option:checked {
    background-color: #0f9fd6;
    color: #ffffff; 
}

.table_header .input-search {
    position: relative;
}

.table_header .input-search input {
    border-radius: 30px;
    width: 470px;
    outline: none;
    padding: 10px 20px;
    border: 1px solid #c9c9c9;
    box-sizing: border-box;
    padding-right: 50px;
}

.table_header .input-search #search {
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 1rem;
    transform: translate(-50%, -50%);
}

.detalles {
    outline: none;
    border: none;
    background-color: #0f9fd6;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 14px;
}

@media (min-width: 992px) and (max-width: 1199px) { 
    .table_header .input-search input {
        width: 320px;
    }

    #buscador {
        min-height: 90vh;
    }
}

