body {
    font-family: 'Arial', sans-serif;
    font-size: 0.9em;
}

#volver {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px 20px;
    color: #0f9fd6;
    background-color: #e2e7ef;
    box-shadow: 10px 10px 21px -6px rgba(0,0,0, 0.2);
}


.container {
    max-width: 1600px;
    margin: 10 auto; 
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 21px -6px rgba(0,0,0, 0.2);
}

/* table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 0;
} */

#metadata tbody td:first-child,
#eventos tbody td:first-child, 
#puertos tbody td:first-child,
#mostrarMapaBtn {
    background-color: #0f9fd6;
    color: #ffffff;
    font-weight: bold;
}

#mostrarMapaBtn {
    box-shadow: 10px 10px 21px -6px rgba(0,0,0, 0.2);
}

.table-hover tbody tr:hover,
#mostrarMapaBtn:hover {
    background-color: #108dbe;
}

#mostrarMapaBtn:disabled {
    background-color: #3ba1c9;
    color: #5c5c5c;
}
/* table td, table th {
    padding: 0px;
    height: 5px;
    max-width: fit-content; 
    overflow: hidden;  
} */

.table-responsive {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

#showMap {
    outline: none;
    border: none;
    background-color: #0f9fd6;
    color: #ffffff;
    box-shadow: 10px 10px 21px -6px rgba(0,0,0, 0.2);
}

#showMap:hover {
    background-color: #108dbe;
}
