[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pylint = "*"
pylint-django = "*"
pylint-celery = "*"
celery = {extras = ["beat"], version = "*"}
django-celery-beat = "*"
pyodbc = "*"
requests = "*"
mysqlclient = "*"
django-celery-results = "*"
django-redis = "*"

[dev-packages]

[requires]
python_version = "3.10"
