{% extends "contenedores/base.html" %} 
{% load static %} 
{% block title%}Buscador{% endblock %}

{% block custom %}
    <link rel="stylesheet" href="{%static "css/buscador.css" %}"> 
    <script src="{% static "js/buscador.js" %}"></script>
{% endblock %} 

{% block content %}
<div id="buscador">
  <div class="contenedor table-responsive p-3">
    <!--<div class="table_header">
      <h2>Contenedores</h2>
      <select name="" id="estado">
        <option value="" selected>Estado</option>
      </select>
      <div class="input-search">
        <input type="text" placeholder="Buscar" />
        <i class="bi bi-search" id="search"></i>
      </div>
    </div>-->
    <table id="datatable_contenedores" class="table table-striped">
      <thead>
        <tr class="bg-info">
          <th class='text-center'>Número Contenedor</th>
          <th class='text-center'>Número Factura</th>
          <th class='text-center'>Estado</th>
          <th class='text-center'>Ultima Actualización</th>
          {% if request.user.is_authenticated %}
            <th class='text-center'>Ver Detalles</th>
          {% endif %}
        </tr>
      </thead>
      <tbody id="tableBody_contenedores">
          <!--
            <td class='text-center'>{{ contenedor.codigo }}</td>
            <td class='text-center'>{{ contenedor.factura.DocNum }}</td>
            <td class='text-center'>{{ contenedor.estado }}</td>
            <td class='text-center'>{{ contenedor.ultima_actualizacion_tracking }}</td>
          -->
        {% for contenedor in contenedores %}
            {% if request.user.is_authenticated %}
              <td class='text-center'><a href="{% url 'contenedor' contenedor.codigo %}" class="detalles"><i class="bi bi-arrow-right-circle"></i></a></td>
            {% endif %}
        {% endfor %} 
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
