{% extends 'contenedores/base.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}
{% load static %}
<img id="" src="{% static "img/img1.jpg" %}" alt="Logo" class="img-fluid" style="position: absolute; z-index: -1">
<div class="container pt-3 d-flex flex-column justify-content-start align-items-center">

    <div class="welcome text-center m-4 text-light">
        <h1 class="mb-4">Bienvenido</h1>
        <h4>¡Gracias por visitar nuestra plataforma! Aquí encontrarás herramientas útiles para rastrear y visualizar datos de contenedores de Condensa.</p>
    
        {% if user.is_authenticated %}
          <h4>¡Hola, {{ user.username }}!</p>
        {% endif %}
    </div>
</div>
{% endblock %}