{% extends 'contenedores/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Creación nueva cuenta{% endblock %}

{% load static %}
{% block custom %}
    <link rel="stylesheet" href="{%static "css/usuarioCrear.css" %}"> 
{% endblock %} 

{% block content %}
    <div class="container p-4">
        <div class="card rounded-4" style="box-shadow: 10px 10px 21px -6px rgba(0,0,0, 0.2);">
            <div class="card-body">
                <h2 class='card-title text-center'>Crear Usuario</h2>
                <form method="post" action="{% url 'usuario_crear' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button id="crearUsuario" type="submit" class="btn btn-primary">Crear Usuario</button>
                    <a class='btn btn-danger' type='submit' href='{% url "usuario_lista" %}'>Cancelar</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}